input {
    text-indent: 30px;
}

.wd-logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.wd-tuit-img img {
    width: 60px;
    height: 60px;
}

.fa-cog {
    width: 40px;
    height: 40px;
}